:root {
  --body-background-color: #161616;
  --body-text-color: #FFF8E7;
  --card-background-color: #1B1C23;
  --nav-background-color: #161616;
  --nav-border-bottom-color: #161616;
  --nav-current-border-bottom-color: #e85333;
  --card-border-color: #1B1C23;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

.logo.svelte-a08hsz img.svelte-a08hsz{
  width: 3rem;
}

.logo.svelte-a08hsz.svelte-a08hsz > div:first-of-type{
  display: none;
}

.container.svelte-a08hsz.svelte-a08hsz > div:first-of-type{
  margin: 0 auto;
}

.logo.svelte-a08hsz.svelte-a08hsz{
  margin: 0;
}
